{% extends 'base-front.html.twig' %}

{% block title %}MyCoach
{% endblock %}
{% block sty %}
	<!-- Google Font: Source Sans Pro -->
	<link
	rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
{% endblock %}
{% block hero%}{% endblock %}

{% block about %}{% endblock %}

{% block coach %}{% endblock %}

{% block prog %}{% endblock %}
{% block contact %}{% endblock %}
{% block body %}
	<!-- SCHEDULE -->


	<section
		class="content">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Projects</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body p-0">
				<table class="table table-striped projects">
					<thead>
						<tr>
							<th style="width: 1%">
								#
							</th>
							<th style="width: 20%">
								Nom de programme
							</th>
							<th style="width: 30%">
								Sportif
							</th>
							<th>
								Date
							</th>
							<th style="width: 8%" class="text-center">
								Status
							</th>
							<th style="width: 20%"></th>
						</tr>
					</thead>
					<tbody>
						{% for prog_muscul in prog_musculs %}
							<tr>
								<td>
									#
								</td>
								<td>
									{{prog_muscul.nom}}
								</td>
								<td>
									<ul class="list-inline">
										<li class="list-inline-item">
											<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
										</li>
									</ul>
									{{prog_muscul.sportif}}
								</td>
								<td class="project_progress">
									11/22/2022
								</td>
								<td class="project-state">
									<span class="badge badge-success">Success</span>
								</td>
								<td class="project-actions text-right">
									<a class="btn btn-primary btn-sm" href="/prog/muscul/{{prog_muscul.id}}">
										<i class="fas fa-folder"></i>
										View
									</a>
									<a class="btn btn-info btn-sm" href="/prog/muscul/{{prog_muscul.id}}/edit">
										<i class="fas fa-pencil-alt"></i>
										Edit
									</a>
									<a class="btn btn-danger btn-sm" href="/prog/muscul/{{prog_muscul.id}}">
										<i class="fas fa-trash"></i>
										Delete
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								Pas de programme
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->

	</section>
</div>
<!-- /.card --></div><!-- /.col --></div>{% endblock %}{% block jss %}<!-- jQuery --><script src="../../plugins/jquery/jquery.min.js"></script><!-- Bootstrap 4 --><script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script><!-- AdminLTE App --><script src="../../dist/js/adminlte.min.js"></script><!-- AdminLTE for demo purposes --><script src="../../dist/js/demo.js"></script>{% endblock %}
